# LBD Tracker Application
*.pyc
__pycache__/
*.db
*.sqlite
*.sqlite3
/backend/uploads/
/backend/.env
/frontend/node_modules/
/frontend/.env.local
/frontend/build/
.DS_Store
.vscode/
.idea/
*.log
*.pot
.env
venv/
env/
.venv
LBDTracker_profile/
LBDTracker_data/
build/
dist/
*.exe
build_log*.txt
build_err*.txt
build_output.txt
test_data/
*.pdf
